<IfModule mod_headers.c>
ExpiresActive On
ExpiresDefault A0

Header set Cache-Control "private, no-cache, no-store, proxy-revalidate, no-transform"
Header set Pragma "no-cache"

<Files push.html>
Header set X-Associated-Content: '"/images/34.png":0'
#Header set X-Associated-Content: '"/style.css":0,"/images/00.png":0,"/images/01.png":0,"/images/02.png":0,"/images/03.png":0,"/images/04.png":0,"/images/10.png":0,"/images/11.png":0,"/images/12.png":0,"/images/13.png":0,"/images/14.png":0,"/images/20.png":0,"/images/21.png":0,"/images/22.png":0,"/images/23.png":0,"/images/24.png":0,"/images/30.png":0,"/images/31.png":0,"/images/32.png":0,"/images/33.png":0,"/images/34.png":0'
</Files>

</IfModule>